# Build and Release Folders
datasets/*
experiments/*
results/*
tb_logger/*
wandb/*
tmp/*

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

#other files
*.html
*.png
*.jpeg
*.jpg
*.gif
*.pth
*.zip

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
